.map-view {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.map-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #666;
}

